/* PC : 윈도우 사이즈 1024px 이상인 경우 적용 */
@media screen and (min-width:1024px) {}

/* 태블릿 : 윈도우 사이즈 768px ~ 1023px 사이인 경우 적용 */
@media screen and (min-width:768px) and (max-width: 1023px){}

/* 모바일 : 윈도우 사이즈 0px ~ 767px 사이인 경우 적용 */
@media screen and (max-width:767px){}



/*=================================================================*/
body article{
    width: 1000px;
    margin: 0 auto;
}
/*=================================================================*/
header{
    width: 100%;
    margin-bottom: 50px;

}
.bottom_header{
    width: 100%;
    height: 300px;
    display: none;
    background-color: aqua;
}
/*=================================================================*/
.wrap{
    position: relative;
}
.wrap header{
    position: absolute;
    top:0;
    left: 0;
    z-index: 100000;
}
.wrap article{
    position: relative;
    padding-top: 100px;
    z-index: -1;
}

/*=================================================================*/

.top_banner{
    width: 100%;
    height: 65px;
    background-color:#f8f8f9;
    margin-bottom: 50px ;
}
.top_banner figure {
    width: 650px;
    height: 100%;
    margin: 0 auto;
} 
/*=================================================================*/

.top_header{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.top_header h1{
    width: 130px;
    height: 100%;
    position: relative;
}
.top_header h1 img{
    position: absolute;
    top:0;
    bottom: 0;
    margin: auto 0;
}

.top_header nav{
    width: 500px;
    /* background-color: aqua; */
    position: relative;
}

.top_header nav ul{
    height: 25px;
    /* background-color: red; */

}

.top_header nav ul li{
    height: 25px;
    float: left;
    text-align: right;
    font-size: 11px;
    color:rgb(75, 75, 75);
    letter-spacing: 2px;
color: rgb(110 108 108)
}

.main_menu{
    position: absolute;
    bottom:0;
    right: 0;
    width: 100%;    
}

.main_menu li{
    width: 20%;
    line-height: 35px;
    cursor: pointer;
    font-weight: bold !important;
}

.main_menu li:hover{
    color: #4d7f37;
}

.sub_menu{
    width: 350px;
    position: absolute;
    top:0;
    right:0;


}

.sub_menu li{
    width: 25%;
    line-height: 15px;
    font-size: 10px !important;
}
/*=================================================================*/
